<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>HOME</div>
        <form action="#" method="post" th:action="@{/}" th:object="${nota}">
            <input type="text" th:field="*{titolo}" placeholed="titolo" />
            <input type="text" th:field="*{contenuto}" placeholed="contenuto" />
            <input type="submit" value="salva"/>
                
        </form>
        <ul>
            <li th:each="nota: ${listaNote}">
                <b th:text="${nota.titolo}">Titolo Nota</b>
                <p th:text="${nota.contenuto}">Contenuto</p>
                <p>
                    <a href="#" th:href="@{|/edit/${nota.id}|}">modifica</a>
                    <a href="#" th:href="@{|/delete/${nota.id}|}">cancella</a>
                </p>
            </li>
        </ul>
    </body>
</html>
